# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Logs e temporários
*.log
*.tmp
*.bak
~$*.xlsx

# Sistema operacional e editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Selenium/Chrome local
.chromedriver/
